body {
    padding-top: 30px;
    padding-bottom: 20px;
}

.homepage {
    margin: 0 auto;
}

/*navbar css*/
.navbar {
    width: 1000px;
    margin: 0 auto;
    background-color: black;
    border: none;
    border-radius: 0;
}

.navbar .container-fluid .navbar-header {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar .container-fluid .navbar-header .navbar-brand {
    font-size: 16px;
    color: #fff;
}

.navbar-collapse .nav .active a {
    font-weight: 200;
    color: white;
    background-color: #272727;
}

.navbar-collapse .nav .active a:hover {
    text-decoration: underline;
    color: white;
    background-color: #272727;
}

.navbar .container-fluid .navbar-form {
    float: right;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 0;
}

.navbar .container-fluid .navbar-form input {
    border: none;
    height: 30px;
    border-radius: 0;
}

.navbar .container-fluid .navbar-form button {
    margin-left: 3px;
    height: 30px;
    border: none;
    border-radius: 0;
}

/*type css*/
.type {
    width: 860px;
    margin: 0 auto;
    margin-top: 30px;
}

.type .thumbnail-input {
    display: none;
}

.homepage .type .post {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    width: 240px;
}

.post-title {
    position: absolute;
    font-size: 16px;
    z-index: 9;
    bottom: 12px;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0;
}

.post-title a {
    font-size: 15px;
    color: #6e6e6e;
}

.post-title a:hover, .post-title a:focus {
    color: #222;
}

.post-featured-image .thumbnail {
    margin: 0 auto;
    margin-bottom: 0;
    padding: 12px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    /*position: absolute;*/
    width: 240px;
    top: 0;
    left: 0
}

.post-featured-image .thumbnail input {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.post-featured-image .thumbnail.loaded input {
    opacity: 1;
}

.post input {
    display: block;
    max-width: 100%;
    height: auto;
}

.post-featured-image .thumbnail img {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.post-featured-image .thumbnail.loaded img {
    opacity: 1;
}

.post img {
    display: block;
    max-width: 100%;
    height: auto;
}

.widget {
    margin-bottom: 35px;
}

.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    margin-bottom: 21px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.widget .title:after {
    content: "";
    width: 90px;
    height: 1px;
    background: #337ab7;
    position: absolute;
    left: 0;
    bottom: -1px;
}